body{
    background-color: #ADC4CE;
    font-size: 150%;
    color: #13005A;
    margin: 0;
    
}
header{
        background-color: #183D3D;
        padding: 2% 2% ;
        
        color:#ADC4CE;
    }

h1{
    text-align: center;
}    
h2{
    text-align: center;
}
.education{
    padding: 5% 0;
    background-color: #293462;
    color: #ADC4CE;
    
}
@media only screen and (min-width: 600px){
    .education{ display: flex;}
}
.edu{
    margin: 0 2%;
    padding: 0 2%;
}

@media only screen and (min-width: 600px){
    .skills-interest{
        display: flex;
    }
    .skin1{
        
       width: 40%;
       margin-right: 5%;
       margin-left: 5%;
    }
    .skin2{
        width: 40%;
        margin-left: 5%;
        margin-right: 5%;
        padding: 0 2%;
        
    
    }
}







@media only screen and (max-width: 600px){
    .skin{
        margin-left: 2%;
        margin-right: 2%;
        padding: 0 2%;
    }
}

.skin{
    margin-top:  5% ;
    margin-bottom: 5%;
    border: 1rem dotted #F8DE22;
    
    
}


img{
    display: block;
    margin:  2% auto;
    width: 50%;
    height: auto;

}

.hobby{
    background-color:#C08261 ;
    padding: 5% 0;
    color: white;
    
}
@media only screen and (min-width: 600px){
    .hobbies{
        display: flex;
        
    }
    .col1{
        margin-left: 10% ;
        margin-right:10% ;

    }
    .col2{
        margin-left:10% ;
        margin-right:10% ;
        
    }
}

.foot{
   border-radius: 70%;
}

@media only screen and (max-width: 600px){
    .hobbies{
        text-align: center;
    }
}
